* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: white;
    overflow-x: hidden;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;


}

header {
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(./img/hero.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.nav-wapper {
    width: 75vw;
    margin: auto;
}

.logo {
    height: 100px;
    float: left;
    width: auto;
    margin-top: 20px;
}

.nav-wapper-content {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.nav-wapper-content li {
    display: inline;
    margin-left: 40px;
}

.nav-wapper-content li a {
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 5px 0px;
    transition: 0.5s;

}
.max-width-75{
    max-width: 75%;
    margin: 0px auto;
}

.nav-wapper-content li a:hover {
    padding: 8px 0px;
    border-bottom: 5px solid #e67e22;
    transition: 1s
}
.header-content{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}
.header-content h1{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 210%;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
}
.btn-full{
   
    color: #fff;
    border: 1px solid #e67e22;

}
.btn-ghost{
    color: #e67e22;
    border: 1px solid #e67e22;
    margin-left: 12px;
}
.btn-ghost:hover{
    background-color: #cf6d17;
    color: #fff;
    transition: background-color 0.3s, border 0.2s, color 0.2s;
}
.btn-full:hover{
    background-color: #cf6d17;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.features-top h2{
    font-size: 180%;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    word-spacing: 2px;
}
.features-top h2::after{
    content: " ";
    display: block;
    background-color: #e67e22;
    height: 2px;
    width: 100px;
    margin: 35px auto;
}
.features-top p{
    font-weight: 300;
    width: 70%;
    margin: 0px auto;
    font-size: 100%;
    line-height: 145%;
                                               
}
.features-bot{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.box >*{
    line-height: 125%;
    margin: 10px 0px;
}
.box p{
    font-size: 100%;
}
.features-bot h3{
    text-transform: uppercase;
    font-size: 110%;
    color: gray;

}
h1, h2,h3,p{
    font-weight: 300;
}
.icon-big {
    font-size: 250%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.meals-showcase{
  list-style: none;
  width: 100%;
  margin-top: 70px;
}
.meals-showcase li{
  float: left;
  display: block;
  width: 25% ;
}
.meals-showcase li figure{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;

}
.meals-showcase li figure img{
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.meals-showcase li figure img:hover{
  opacity: 1;
  transform: scale(1.03);
  
}